<div class="alert alert-info">
    <p>Sipariş başarıyla tamamlandı</p>
    <p>Sipariş No: @ViewBag.orderId</p>
</div>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Anasayfaya Geri Dön</a>